@import "tailwindcss";

body {
  overflow: hidden;
}

.selectable {
  -webkit-user-select: text;
  user-select: text;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
